<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>coins</key>
	<integer>0</integer>
	<key>continues</key>
	<integer>0</integer>
	<key>max fuel</key>
	<integer>400</integer>
	<key>jetpack selected</key>
	<string>Jet-Pack-one.png</string>
	<key>clothes</key>
	<string>Orange</string>
</dict>
</plist>
