<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>coins</key>
	<integer>0</integer>
	<key>max fuel</key>
	<integer>400</integer>
	<key>clothes</key>
	<string>Orange</string>
	<key>max seconds double points</key>
	<integer>5</integer>
	<key>max seconds invy</key>
	<integer>5</integer>
	<key>max seconds boost</key>
	<integer>5</integer>
	<key>sound on</key>
	<true/>
	<key>jetpack selected</key>
	<string>Jet-Pack-one.png</string>
	<key>is black bought</key>
	<false/>
	<key>is blue bought</key>
	<false/>
	<key>is brown bought</key>
	<false/>
	<key>is green bought</key>
	<false/>
	<key>is grey bought</key>
	<false/>
	<key>is maroon bought</key>
	<false/>
	<key>is military green bought</key>
	<false/>
	<key>is navy bought</key>
	<false/>
	<key>is orange bought</key>
	<true/>
	<key>is pink bought</key>
	<false/>
	<key>is purple bought</key>
	<false/>
	<key>is red bought</key>
	<false/>
	<key>is tan bought</key>
	<false/>
	<key>is turquoise bought</key>
	<false/>
	<key>is yellow bought</key>
	<false/>
</dict>
</plist>
